/* isAdmin.css */

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff; /* changed text color to white */
  background-color: #f9f9f9;
}

.dashboard {
  text-align: center;
  padding: 20px;
  background-color: #000; /* header background color is black */
  color: #ffc107; /* changed header text color to orange */
  border-bottom: 1px solid #333;
}

.secondary-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.secondary-nav a {
  background-color: #8bc34a; /* changed button background color to green */
  color: #fff; /* changed button text color to white */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.secondary-nav a:hover {
  background-color: #64bd3f; /* changed button hover background color to darker green */
}

/* Responsive Styles */

@media (max-width: 768px) {
.secondary-nav {
    flex-direction: column;
  }
.secondary-nav a {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
.dashboard {
    font-size: 18px;
  }
.secondary-nav a {
    font-size: 14px;
    padding: 10px 15px;
  }
}